.room-editor {
    display: flex;
    flex-direction: column;
    line-height: 1em;
    padding: var(--padding);
    padding-left: 20px;
    padding-right: 20px;
}

input {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 1em;
}

textarea {
    display: flex;
    flex-grow: 1;
    min-height: 1em;
}

.label {
    display: block;
}

.room-editor-header-form {
    display: grid;
    grid-template: auto auto / 10% auto;
    background-color: green;
}

.room-editor-preview {
    height: 150px;
    background-color: #bd7ef9;
}
