.PassageNode-root {
    width: 300px;
}

.PassageNode-root [data-handleid="passage"] {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.PassageNode-root [data-handleid="reaction-option"] {
    top: 25%;
    right: 0;
    transform: translate(50%, -50%);
}

.PassageNode-root [data-handleid="text-option"] {
    top: 75%;
    right: 0;
    transform: translate(50%, -50%);
}
