.react-flow__node-reaction-option [data-handleid="reaction-option"] {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.react-flow__node-reaction-option [data-handleid="passage"] {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}
