.emoji-menu {
    position: absolute;
}

.emoji-menu-button {
    padding: 4px 6px 4px 6px;
    justify-content: center;
    vertical-align: center;
    border-radius: 5px;
    background-color: var(--background-x-light);
}

.emoji-menu-picker {
    position: absolute;
    z-index: 10;
    transition: opacity 0.2s, visibility 0.2s;
}

.emoji-menu-picker.visible {
    opacity: 1;
    visibility: visible;
}

.emoji-menu-picker.hidden {
    opacity: 0;
    visibility: hidden;
}

.emoji-mart {
    opacity: inherit;
    visibility: inherit;
}

.emoji-mart-dark {
    color: #ffffff;
    border-width: 1px;
    border-color: var(--background-dark);
    background-color: var(--background-medium);
}

.emoji-mart-dark .emoji-mart-search input {
    color: #ffffff;
    border-width: 0;
    background-color: var(--background-x-dark);
}

.emoji-mart-dark .emoji-mart-category-label span {
    background-color: var(--background-medium);
    color: var(--font-normal);
}
