.folder {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-size: 12px;
}

.folder-label {
    display: flex;
    flex-direction: row;
    height: 2em;
    line-height: 2em;
}

.folder-label.selected {
    background-color: var(--background-medium);
    color: var(--font-bright);
}

.folder-label > .icon {
    flex-shrink: 0;
    display: block;
    width: 2em;
    text-align: center;
    font-weight: bolder;
}

/*.folder-label > .icon.folder-toggle {*/
/*    padding-left: var(--padding-left);*/
/*    text-align: left;*/
/*}*/

.folder-label > .folder-scrollbar-padding {
    min-width: 2em;
    flex-grow: 1;
}

.folder-name {
    flex-shrink: 0;
    text-align: left;
}

.folder-label:hover {
    background-color: var(--background-x-light);
    color: var(--font-bright);
}

.folder-contents {
    display: flex;
    flex-direction: column;
}

.folder-contents.hide {
    display: none;
}
