.list-title {
    display: flex;
    flex-direction: row-reverse;
    z-index: 0;
    height: 2em;
    line-height: 2em;
    font-size: smaller;
}

.list-title-control {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: calc(100% - 2em);
}

.list-title-control-icon {
    width: 1.5em;
    text-align: center;
    font-weight: bolder;
}

.list-title-control-icon.spacing {
}

.list-title-control-icon.toggle {

}

.list-title-control-icon.type {
}

.list-title-control-label {
    /*font-weight: bold;*/
}

.list-title-add {
    width: 2em;
    font-weight: bolder;
}

.list-title-add:hover, .list-title-control:hover {
    color: var(--font-bright);
}

.list-title-add:hover + .list-title-control {
    color: var(--font-bright);
}
