.list {
    overflow: scroll;
    min-width: 200px;
    --list-line-height: 1em;
}

.list > .list-item {
    margin: 2px 0 2px 0;
    height: var(--list-line-height);
    line-height: var(--list-line-height);
}

.list > .list-title {
    padding: 2px 0 2px 0;
    height: var(--list-line-height);
    line-height: var(--list-line-height);
}

.list.hide > .list-item {
    display: none;
}
