.list-item {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 1;
}

.list-item-bg {
    position: absolute;
    width: calc(100% - 1em);
    height: 100%;
    border-radius: 5px;
    z-index: -1;
    visibility: hidden;
}

.list-item.selected > .list-item-bg {
    background-color: var(--background-x-light);
    visibility: visible;
}

.list-item-control {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: calc(100% - 2em);
}

.list-item-indicator {
    width: 3em;
    font-weight: bolder;
    font-size: 0.5em;
    text-align: left;
    color: var(--font-bright);
}

.list-item-label {
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    max-width: calc(100% - 1.5em);
    text-align: left;
    text-overflow: ellipsis;
    font-weight: 500;
}

.list-item.selected .list-item-label {
    color: var(--font-bright);
}

.list-item-remove {
    width: 2em;
    font-weight: bolder;
    visibility: hidden;
}

.list-item:hover > .list-item-bg {
    background-color: var(--background-light);
    visibility: visible;
}

.list-item.selected:hover > .list-item-bg {
    background-color: var(--background-x-light);
}

.list-item:hover > .list-item-remove {
    visibility: visible;
}

.list-item.selected > .list-item-remove {
    visibility: visible;
}

.list-item-remove:hover, .list-title-control:hover {
    color: var(--font-bright);
}

.list-item-remove:hover + .list-title-control {
    color: var(--font-bright);
}
