/*.react-flow__node-room [data-handleid="passage"],*/
/*.react-flow__node-item [data-handleid="passage"] {*/
/*    top: 50%;*/
/*    right: 0;*/
/*    transform: translate(50%, -50%);*/
/*}*/
/*.CustomNode-container {*/
/*    width: 200px;*/
/*    border-radius: 10px;*/
/*    background-color: #4f4f4f;*/
/*}*/

/*.CustomNode-container.MuiAccordion-root {*/
/*    background-color: #4f4f4f;*/
/*}*/

.CustomNode-root, .CustomNode-root.MuiAccordion-root {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #4f4f4f;
}

.CustomNode-root > .CustomNode-title {
    padding: 12px 16px;
}

.CustomNode-header {
    pointer-events: none;
}

.CustomNode-expand-icon {
    pointer-events: auto;
}

