.NavHeader-root {
    position: relative;
    display: grid;
    padding-right: 20px;
    align-items: center;
    user-select: none;
    background-color: darkslategrey;
}

.NavHeader-root.add {
    grid-template-columns: 40px auto 40px;
}

.NavHeader-root.delete {
    grid-template-columns: 40px auto auto 40px;
}

.NavHeader-root > .NavHeader-label {
    text-align: left;
}

.NavHeader-root > .NavHeader-deleteText {
    text-align: right;
}
